.flex-container {
    display: flex;
    background-color: crimson;
}
.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
.IMG_1018 {
    display: block;
    margin-left: auto;
    margin-right: auto;  
}