@import url(reset.css);

.contact-card {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 10px solid rgb(94, 9, 173);
    background-color: blueviolet;
    align-items: center;
    
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid rgb(255, 0, 170);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgba(213, 41, 219, 0.76);

}

.contactinfo {
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color:rgb(43, 9, 139);
    border: 10px solid rgb(43, 9, 139);
    align-items: center;
    justify-content: center;

}

.jp {
    border-radius: 20px;
}

.name {
    text-align: center;
}

.title {
    text-align: center;
    font-style: italic;
}

@media (min-width: 500px) {
    .contactinfo {
        height: 200px;
        display: flex;
        flex-direction: row;
        background-color:rgb(43, 9, 139);
        border: 10px solid rgb(43, 9, 139);
        align-items: center;
        justify-content:space-between;
    }
 }

 @media (min-width: 768px) {
    .contact-card {
        height: 100vh;
        display: flex;
        flex-direction: row;
        border: 10px solid rgb(94, 9, 173);
        background-color: blueviolet;
        align-items: center;      
 }
}